// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


//COLORS:?
$Lightgreen: #7ed56f;
$Mediumgreen: #55c57a;
$Darkgreen: #28b485;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color:#777;
  padding: 30px;
}
header {
  height: 95vh;
  background-image: linear-gradient(to right,#7ed56fd2, #28b485ec), url('../img/group.jpeg');
  background-size: cover;
  clip-path: polygon(0 0 ,100% 0 , 100% 80%, 0 100%);
  background-position: top;
  position: relative;
}
.logo-box {
  position:absolute;
  top: 40px;
  left:40px;

}

.logo{
  height: 55px;
}

.text-box{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary
{
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 40px;

}

.heading-primary-main{
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 6px;
  animation-name: moveInLeft;
  animation-duration: 4s;
}

.heading-primary-sub{
  display: block;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 15px;
  animation-name: moveInRight;
  animation-duration: 4s;
}

@keyframes moveInLeft {
  0%{
    opacity: 0;
    transform: translateX(-100%);
  }
  80%{
    transform:translateX(-10px);
  }
  100%{
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0%{
    opacity: 0;
    transform: translateX(100%);
  }
  80%{
    transform:translateX(10px);
  }
  100%{
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInButton {
  0%{
    opacity: 0;
    transform: translateY(30px);
  }
  100%{
    opacity: 1;
    transform: translate(0);
  }
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: relative;
}
.btn:hover{
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
.btn:active{
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.btn-white{
  color: #333333;
  background-color: #fff;
}
.btn::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width:100%;
  display: inline-block;
  z-index: -1;
  border-radius: 100px;
  transition: all .4s;
}

.btn-white::after{
  background-color: #fff;
}
.btn:hover::after{
  transform: scale(1.5);
  opacity: 0;
}
.btn-animated{
  animation: moveInButton .5s ease-out .75s;
  animation-fill-mode: backwards;
}
.navigation{
  list-style: none;
  float: left;

  .navigation li {
    display: inline-block;
    margin-left: 30px;
  }
  .navigation li {
    display: inline-block;
    margin-left: 30px;
  }
  .navigation li {
    display: inline-block;
    margin-left: 30px;
  }
   li {
    display: inline-block;
    margin-left: 30px;

     &:first-child{
       margin: 0;
     }
     a {
       text-decoration: none;
       text-transform: uppercase;
       color: $Mediumgreen;
     }
  }

}

.button {
  float:right;
}
.about-us{

}
#about-us-h2{
  text-align: center;
  margin-bottom: 40px;
  margin-top: 30px;
}
.about-us-section {
  margin: 40px auto 0 auto;
}

.about-us-content{
  padding: 10px;
  box-sizing: border-box;
  flex-basis: 30%;
  height: 300px;

}
.about-us-content-header{
  text-align: center;
}
.mid-left{
  background-image: linear-gradient(to right,#7ed56fd2, #28b485ec), url('/img/group2.jpeg');
  padding: 40px;
  color: #FFF;
  font-weight: 800;
  height: 100%;
}
.mid-right{
  background-image: linear-gradient(to right,#7ed56fd2, #28b485ec), url('/img/group2.jpeg');
  padding: 40px;
  color: #FFF;
  font-weight: 800;
  height: 100%;
}

@media (min-width: 900px) {
  .about-us-section {
    display: flex;
    justify-content: space-between;
  }
}
