ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

.header-navigation {
  display: flex;
  position: absolute;
  z-index: 100;
  width: 100%;
  justify-content: space-between;
  font-size: 14px;
  padding: 10px;
}

.header-navigation a {
  text-decoration: none;
  color: #ffffff;
}

.header-navigation li {
  display: inline;
  margin-right: 20px;
}

.header-navigation img {
  margin-top: -30px;
}

.logo {
  display: flex;
  font-size: 17px;
}

.navigation {
  display: flex;
  font-size: 30px;
  align-items: center;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url("https://source.unsplash.com/XT5OInaElMw/1600x900") black no-repeat center center scroll;
  }

  header video {
    display: none;
  }
}

.home-body {
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home-body h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-body-text {
  width: 90%;
  margin-top: 30px;
  min-height: 200px;
}

.body-picture {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.picture {
  width: 40%;
}

.picture img {
  max-width: 100%;
  max-height: 100%;
}

.visit {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  flex-direction: column;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  padding: 20px 0;
}

.twitter {
  margin-left: 20px;
}

.instagram {
  margin-left: 20px;
}

.footer {
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  color: #fff;
}

* {
  box-sizing: border-box;
}

